/* Headings */
h1{
    color: rgb(81, 175, 160);
    font-family: "Times New Roman", Times, serif;;
    padding: 15px;
}

h3{
    color: rgb(81, 175, 160);
    font-family:"Times New Roman", Times, serif;;
    padding: 15px;
}


/* Navbar */
a.navbar-brand{
    margin-left: auto;
    padding: 10px;
    background-color: rgb(81, 175, 160);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* Images */
.img-thumbnail{
    padding:10px;
    border: none;
}

/* Para */
p{
    color: black;
    font-family:"Times New Roman", Times, serif;
    font-size: large;
    padding:12px;
}

/* body back*/
body{
    background-color: rgb(223, 222, 222);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* img borader*/
.pic{
    border: 3px solid rgb(81, 175, 160);
}
/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:5;
    margin-left: auto;
}

.nav-item.dropdown.show {
    background-color: #ddd;
   
}
.nav-link:hover {
    background-color:#00bdf6;
    }

.navbar-brand:hover {
    color: #00bdf6;
    }

.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: white;
    }
.dropdown-item {
    color:rgb(81, 175, 160);
    }
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #00bdf6;
    
    }

.active, .panel:hover {
    border-color:rgb(101, 241, 218);
    border-style: solid;
    }
/* small screen*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(101, 241, 218)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }

/* content style*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}

/* Tables */
.table {
    font-size: 15px;
    border-top-color: rgb(255, 255, 255);
    }
/* Images */
.img-thumbnail{
    padding:10px;
    border: none;
}
